html(ng-app="app" ng-strict-di)
	head
		link(href="/css/styles.css", rel="stylesheet")
	body
		div.container
			section.row(button-parent-directive)
				div.col-xs-4.text-center
					button.btn.btn-lg.btn-success(button-directive) Interests
					section.row.hidden(button-parent-directive)
						div.col-xs-4
							button.btn.btn-success(content-to-be-displayed="workflow" content-category="interests" button-directive) Workflow
						div.col-xs-4
							button.btn.btn-success(button-directive content-to-be-displayed="frontend" content-category="interests") Front-end
						div.col-xs-4
							button.btn.btn-success(button-directive content-to-be-displayed="backend" content-category="interests") Back-end
				div.col-xs-4.text-center
					img.img-circle(src="/images/profile_photo_phabulous.jpg" button-directive)
					section.row.hidden(button-parent-directive)
						div.col-xs-6
							button.btn.btn-circle.btn-success(button-directive content-to-be-displayed="boring-facts" content-category="about-me") Facts
						div.col-xs-6
							button.btn.btn-circle.btn-success(button-directive content-to-be-displayed="story" content-category="about-me") Story
				div.col-xs-4.text-center
					button.btn.btn-lg.btn-success(button-directive) Skills
					section.row.hidden(button-parent-directive)
						div.col-xs-4
							button.btn.btn-circle.btn-success(button-directive content-to-be-displayed="css" content-category="technologies") CSS
						div.col-xs-4
							button.btn.btn-circle.btn-success(button-directive content-to-be-displayed="javascript" content-category="technologies") JS
						div.col-xs-4
							button.btn.btn-circle.btn-success(button-directive content-to-be-displayed="php" content-category="technologies") PHP
		div.container-fluid
			div.container
				section.row
					div.col-xs-12(content-directive)
		footer
			script(src="/javascript/scripts.js")