html(ng-app="app" ng-strict-di)
	head
		link(href="/css/styles.css", rel="stylesheet")
	body
		div.container
			section.row(button-parent-directive)
				div.col-xs-4.text-center
					button.btn.btn-lg.btn-success(item-identifier=1 button-directive) Interests
					section.row.hidden(button-parent-directive)
						div.col-xs-3
							button.btn.btn-success(item-identifier=1 content-to-be-displayed="workflow" content-category="interests" button-directive) Workflow
						div.col-xs-3
							button.btn.btn-success(item-identifier=2 button-directive content-to-be-displayed="frontend" content-category="interests") Front-end
						div.col-xs-3
							button.btn.btn-success(item-identifier=3 button-directive) Btn #3
							section.row.hidden
								h2 Test
						div.col-xs-3
							button.btn.btn-success(item-identifier=4 button-directive) Btn #4
							section.row.hidden
								h2 Test
				div.col-xs-4.text-center
					img.img-circle(src="/images/profile_photo_phabulous.jpg" item-identifier=2 button-directive)
					section.row.hidden(button-parent-directive)
						div.col-xs-6
							button.btn.btn-circle.btn-success(item-identifier=1 button-directive) Btn #1
							section.row.hidden
								h2 Test
						div.col-xs-6
							button.btn.btn-circle.btn-success(item-identifier=2 button-directive) Btn #2
							section.row.hidden
								h2 Test
				div.col-xs-4.text-center
					button.btn.btn-lg.btn-success(item-identifier=3 button-directive) Skills
					section.row.hidden(button-parent-directive)
						div.col-xs-4
							button.btn.btn-circle.btn-success(item-identifier=1 button-directive) Btn #1
							section.row.hidden
								h2 Test
						div.col-xs-4
							button.btn.btn-circle.btn-success(item-identifier=2 button-directive) Btn #2
							section.row.hidden
								h2 Test
						div.col-xs-4
							button.btn.btn-circle.btn-success(item-identifier=3 button-directive) Btn #3
							section.row.hidden
								h2 Test
		div.container-fluid
			div.container
				section.row
					div.col-xs-12(content-directive)
		footer
			script(src="/javascript/scripts.js")