html(ng-app="app" ng-strict-di)
	head
		link(href="/css/styles.css", rel="stylesheet")
	body
		div.container
			h3.text-center 2 Elements
			section.row(button-parent-directive)
				div.col-xs-6.text-center
					button.btn.btn-default(button-directive) Button 1
				div.col-xs-6.text-center
					button.btn.btn-default(button-directive) Button 2
			h3.text-center 3 Elements
			section.row(button-parent-directive)
				div.col-xs-4.text-center
					button.btn.btn-default(button-directive) Button 1
				div.col-xs-4.text-center
					button.btn.btn-default(button-directive) Button 2
				div.col-xs-4.text-center
					button.btn.btn-default(button-directive) Button 3
			h3.text-center 4 Elements
			section.row(button-parent-directive)
				div.col-xs-3.text-center
					button.btn.btn-default(button-directive) Button 1
				div.col-xs-3.text-center
					button.btn.btn-default(button-directive) Button 2
				div.col-xs-3.text-center
					button.btn.btn-default(button-directive) Button 3
				div.col-xs-3.text-center
					button.btn.btn-default(button-directive) Button 4
		footer
			script(src="/javascript/scripts.js")