@import '../mixins';

.btn-circle {
	@include border-radius(50%);
	width: 70px;
	height: 70px;
	padding: 0;
	background: none;
	color: black;
	border-top: 1px solid #6C7A89;
}

.btn-circle:after{
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid white;
	content: "";
	display: block;
	margin: 0 auto;
	position: relative;
	top: 20px;
	@include transition(all 0.5s ease-in-out);
}

.btn-circle.active{
	padding: 25px 0 0 0;
	background: #6C7A89;
	color: white;
	@include box-shadow(inset 0 3px 5px rgba(0, 0, 0, 0.250));
}

.active.btn-circle:after {
	border-top: 30px solid #6C7A89;
}

.img-circle{
	width: 100px;
}

.img-circle.active {
	width: 200px;
}