h3 PHP
p In every boy's life there needs to be a more mature and experienced lady that helps, guides and ultimately makes him leave the childish life behind and become a real man. At first, the boy is shy and frightened. He isn't sure of what he is doing or what he is supposed to, but the lady is patient. Slowly, but surely, he becomes more confident until he takes the lead and becomes the man he was supposed to.
p For me, that lady was PHP. I had a lot of first attempts and realizations with that language. The first function, first connection with a database and grasping the concept of object-oriented programming among many more.
p This is why this language feels special to me.