h3 Back-end
p With todays advancement of technology, I believe that the heavy work should be done by the front-end and the server should be lean, fast and only bothered when needed. The perfect web application, for me would be served behind a cache and no matter the amount of client requests, the server script would be fired only once every few minutes.