h4 Task managers
p I am constantly amazed, of how much there is to improve, in the way I work. Spending a few hours in building a JS file, could save a tremendous amount of time in the long run and let you focus on the functional code of the application and let the task runner do the rest.
h4 Programming standards
p Whenever I took my first steps in different aspects of programming, I just wanted my code to work. I didn't care about semantics, readability or re-usability. I only wanted something to happen and I did not care about the cost of getting it.
p The more experience I gain, the more I realize the importance of well-written code. I don't want to remind myself of the countless “projects” I've made, because if I have to go to one and try to change, improve or even understand the code, it could prove to be a cumbersome task.
p There are many experienced developers, who have realized the benefits of well-written code – regarding every language and framework used.
p Just to mention a few:
ul
	li
		a(href='//google.github.io/styleguide/htmlcssguide.xml') HTML styleguide
	li
		a(href='//smacss.com/') Smacss
		a(href='//sass-guidelin.es/') CSS styleguide
	li
		a(href='//google.github.io/styleguide/javascriptguide.xml') JS styleguide
		a(href='//github.com/johnpapa/angular-styleguide') Angular Styleguide