h3 Boring facts
p(data-toggle="tooltip", data-placement="right", title="Tooltip on right") Born in March 1992 – How old am I?
input(type="radio", name="my-age", value="1337")
| 1337
input(type="radio", name="my-age", value="23")
| 23
input(type="radio", name="my-age", value="42")
| 42
ul
	li
		span Nationality – Bulgarian 
	li
		span Born in Sofia
	li
		span Spent my childhood between the capital and my grandparents places, which are in the two beautiful cities of Velingrad[insert link] and Veliko Turnovo[insert link]
p Education
ul
	li
		span Finished the Sofia high school of mathematics [Sofia, Bulgaria]
	li
		span AP Degree in Multimedia design and communication [BAAA, Aarhus Denmark]
	li
		span Bachelor degree in Web development [BAAA, Aarhus Denmark]