h3 Boring facts
p Born in March 1992 – How old am I? !!!Always wrong answer!!!
ul
	li	Nationality – Bulgarian 
	li	Born in Sofia
	li	Spent my childhood between the capital and my grandparents places, which are in the two beautiful cities of Velingrad[insert link] and Veliko Turnovo[insert link]
p Education
ul
	li	Finished the Sofia high school of mathematics [Sofia, Bulgaria]
	li	AP Degree in Multimedia design and communication [BAAA, Aarhus Denmark]
	li	Bachelor degree in Web development [BAAA, Aarhus Denmark]