h3 Boring facts
p Born in March 1992 – How old am I?
form(role="form")
	input(type="checkbox", name="my-age", value="1337", checked="")
	| 1338
	input(type="radio", name="my-age", value="23", checked="")
	| 23
	input(type="radio", name="my-age", value="42", checked="")
	| 42
input(type="text")
p enips
ul
	li
		span Nationality – Bulgarian 
	li
		span Born in Sofia
	li
		span Spent my childhood between the capital and my grandparents places, which are in the two beautiful cities of Velingrad[insert link] and Veliko Turnovo[insert link]
p Education
ul
	li
		span Finished the Sofia high school of mathematics [Sofia, Bulgaria]
	li
		span AP Degree in Multimedia design and communication [BAAA, Aarhus Denmark]
	li
		span Bachelor degree in Web development [BAAA, Aarhus Denmark]