.added-margin {
	margin-top: 100px;
}
section.row div:nth-child(2n) {
	background: #e67f24;
}
section.row div:first-child {
	background: #2ecc71;
}
section.row div:last-child {
	background: #95a5a6;
}